body {
  background: #747474;
  font-family: courier, monospace;
  font-size: 1.1em;
  line-height: 1.8em;
  font-weight: normal;
  color: #5e5d5d;
  margin: 1em auto; 
  width: 60em;
}

h1{
  text-transform: uppercase;
  border-bottom: 0.03em solid #fa143c;
}

img {
  width: 10em;
}

a {
  color: #5e5d5d;
}

.boxout {
  clear: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e2e2e2;
  margin: 2.5em 7em;
  padding: 0.5em; 
  border-radius: 0.2em;
}

.boxout-table {
  clear: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em; 
  border-radius: 0.2em;
  flex-direction: column;  
}

.boxcol {
  margin: 0.9em 2.5em;
  float: right;
}

table {
  min-width: 100%;
  font-size: 0.8em;
  font-family: courier, monospace;
  box-shadow: 0 0 20px #5e5d5d;
  border-radius: 0.2em;
  color: #5e5d5d;
  background-color: #f5f5f5;
  border: 0.1em solid #dedede;
  border-spacing: 0em;
  margin-top: 2em; 

}

table caption { 
	caption-side: top; 
	margin-top: 1em; 
  font-size: 2em;
	color: #f5f5f5;
  text-transform: uppercase;
	font-weight: 00;
  margin: 1.5em;
}

table thead tr {
  text-align: left;
}

table thead th {
  padding: 1.5em 1em;
  vertical-align: top;
  border-bottom: 0.2em double #ffaa9f;
  border-left: 0.1em dotted #929191;
}

table tbody td {
  padding: 1em 1em;
  vertical-align: top;
  border-bottom: 0.1em dotted #929191;
  border-left: 0.1em dotted #929191;
}

table tbody tr:last-of-type {
  border-bottom: none !important;
}

table tbody td:first-of-type {
  border-left: none !important;
  padding: 1em 1em 1em 1.5em;
}

table thead th:first-of-type {
  border-left: none !important;
  padding: 1.5em 1em 1em 1.5em;
}

.boxcol #button {
  background:#fa143c;
  width: 7em;
  height: 2.5em;
  border-radius: 0.2em;
  border: 0.2em; 
  color: #e2e2e2;
  margin: 0.8em 0em;
  font-size: inherit;
  font-family: courier, monospace;
}

.copyright {
  color: #e2e2e2;
  text-align: right;
  margin: 0em 7em;
}

.copyrightcsv {
  color: #e2e2e2;
  text-align: right;
  margin: 0em 7em;
}

.boxcol #input {
  width: 20.5em;
  height: 1.5em;
  margin: 0em 1em 0.7em 0em;
  border-radius: 0.2em;
  border: 0.2em; 
  font-family: inherit;
  font-size: inherit; 
}

.boxcol #textarea {
  max-width: 20.5em;
  width: 20.5em;
  height: 5em;
  margin: 0em 1em 0.5em 0em;
  border-radius: 0.2em;
  border: 0.2em; 
  font-family:inherit;
  font-size: inherit;
}

input:focus { 
  outline: none !important;
  border-color: #fa143c;
  box-shadow: 0 0 0.2em #fa143c;
}

textarea:focus {
  outline: none !important; 
  border-color: #fa143c;
  box-shadow: 0 0 0.2em #fa143c;
}

::placeholder {
  color: #bcbcbc;
  opacity: 1;
  font-style: italic;
}

@media (max-width: 70em) { 
  body {
    align-items: center;
    font-size: 1.8em;
    display: flex;
    flex-direction: column; 
  }

  .boxout {
    width: 90%;
    flex-direction: column-reverse; 
    clear: none;
    margin: 2.5em;
    border-radius: 0.2em;
  }

  .boxcol {
    width: 90%;
    display: flex;
    margin: 0em;
    padding: 0em;
  }

  .boxcol #input {
    width: 35em;
    height: 2em;    
    font-family: inherit;
    font-size: inherit; 
  }

  .boxcol #textarea {
    width: 35em;
    max-width: 35em;
    height: 5em;
    margin: 0em;    
    font-family:inherit;
    font-size: inherit;
  }

  .boxcol #button {
    width: 7em;
    height: 2.5em;
    border-radius: 0.2em;
    border: 0.2em; 
    margin: 2em 0em 4em;
    font-size: inherit;
  }
  
}

