body {
  background: #747474;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.1em;
  line-height: 1.8em;
  font-weight: normal;
  color: #5e5d5d;
  max-width: 60em;
  margin: 1em auto; 
}

h1{
  text-transform: uppercase;
  border-bottom: 0.03em solid #fa143c;
}

img {
  width: 10em;
}

.table {
  width: 80%;
  font-size: 0.8em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  color: #5e5d5d;
  background-color: #ffffff;
}

.boxout {
  clear: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e1e1;
  margin: 2.5em 7em;
  padding: 0.5em; 
  border-radius: 0.2em;
}

.boxout-table {
  clear: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e1e1;
  margin: 2em 7em;
  padding: 0.4em; 
  border-radius: 0.2em;
  flex-direction: column;  
}

.boxcol {
  margin: 0.9em 2.5em;
  float: right;
}

.table thead tr {
  text-align: left;
}

.table th {
  padding: 12px 15px;
  vertical-align: top;
  border-bottom: 1px solid #5e5d5d;
}

.table td {
  padding: 12px 15px;
  vertical-align: top;
}

.table tbody tr {
  border-bottom: 1px solid #fa143c;
}

.table tbody tr:nth-of-type(even) {
  background-color: #bcbcbc;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #ffffff;
}

.boxcol #button {
  background:#fa143c;
  width: 7em;
  height: 2.5em;
  border-radius: 0.2em;
  border: 0.2em; 
  color: #e7e1e1;
  margin: 0.8em 0em;
  font-size: inherit;
}

.boxcol #input {
  width: 20.5em;
  height: 1.5em;
  margin: 0em 1em 0.7em 0em;
  border-radius: 0.2em;
  border: 0.2em; 
  font-family: inherit;
  font-size: inherit; 
}

.boxcol #textarea {
  max-width: 20.5em;
  width: 20.5em;
  height: 5em;
  margin: 0em 1em 0.5em 0em;
  border-radius: 0.2em;
  border: 0.2em; 
  font-family:inherit;
  font-size: inherit;
}

input:focus { 
  outline: none !important;
  border-color: #fa143c;
  box-shadow: 0 0 0.2em #fa143c;
}

textarea:focus {
  outline: none !important; 
  border-color: #fa143c;
  box-shadow: 0 0 0.2em #fa143c;
}

::placeholder {
  color: #bcbcbc;
  opacity: 1;
  font-style: italic;
}

@media (max-width: 70em) { 
  body {
    align-items: center;
    font-size: 1.8em;
  }

  .boxout {
    flex-direction: column-reverse; 
    clear: none;
    justify-content: center;
    align-items: center;
    margin: 1em;
    padding: 0.3em; 
    border-radius: 0.2em;
  }

  .boxcol {
    max-width: 100%;
    display: flex;
    margin: 0em;
    padding: 0em;
  }

  .boxcol #input {
    width: 28em;
    height: 2em;    
    font-family: inherit;
    font-size: inherit; 
  }

  .boxcol #textarea {
    width: 28em;
    max-width: 28em;
    height: 5em;
    margin: 0em;    
    font-family:inherit;
    font-size: inherit;
  }

  .boxcol #button {
    width: 7em;
    height: 2.5em;
    border-radius: 0.2em;
    border: 0.2em; 
    margin: 2em 0em 4em;
    font-size: inherit;
  }
  
}

