body {
  background: #747474;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: normal;
  color: #5e5d5d; 
}

h1{
  text-transform: uppercase;
  border-bottom: 1px solid #fa143c;
}

.table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  color: #5e5d5d;
  background-color: #ffffff;
}


.boxout {
  clear: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  margin: 50px 300px;
  padding: 20px; 
  border-radius: 5px;
}

.boxcol {
  margin: 1px 40px;
}

.table thead tr {
  text-align: left;
}

.table th {
  padding: 12px 15px;
  vertical-align: top;
  border-bottom: 1px solid #5e5d5d;

}

.table td {
  padding: 12px 15px;
  vertical-align: top;
}

.table tbody tr {
  border-bottom: 1px solid #fa143c;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;

}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #ffffff;

}

.boxcol #button {
  background:#fa143c;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  border: 1px;
  padding: 5px;
  color: #f3f3f3;
  margin: 20px 0px;
}

.boxcol #input {
  width: 300px;
  height: 25px;
  margin: 0px 5px 8px 0px;
  border-radius: 5px;
  border: 1px;  
}

.boxcol #textarea {
  width: 300px;
  height: 75px;
  margin: 0 px 5px;
  border-radius: 5px;
  border: 1px;

}

input:focus { 
  outline: none !important;
  border-color: #fa143c;
  box-shadow: 0 0 5px #fa143c;
}

textarea:focus {
  outline: none !important; 
  border-color: #fa143c;
  box-shadow: 0 0 5px #fa143c;
  
}