{% extends "base.html" %}

{% block content %}
<h1>Pyladies</h1>
</head>
<body>
    <h1>Homework Submission</h1>
    <form method="post" action="/">
      <label for="name">Name:</label><br>
      <input type="text" name="name" id="name" required><br><br>
      <label for="lesson_number">Lesson Number:</label><br>
      <input type="text" name="lesson_number" id="lesson_number" required><br><br>
      <label for="colab_url">Colab URL:</label><br>
      <input type="url" name="colab_url" id="colab_url" required><br><br>
      <label for="comments">Comments:</label><br>
      <textarea name="comments" id="comments"></textarea><br><br>
      <input type="submit" value="Submit">
</form>
{% endblock %}