<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href= "{{ url_for('static',filename='who.png') }}">
    <title>Done!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="boxout" id="wrapper">
      <div class="boxcol">
        <h1>Done!</h1>
        <p>Dear {{ data['name'] }}, thanks for submitting your homework from lesson&nbsp;{{ data['lesson_number'] }}!</p>
      </div>
    <div class="boxcol"><img src="{{ url_for('static',filename='who.png') }}" /></div>
    </div>
    <div class = "copyright">&copy; 2023 Daniela Limbeck, Yana Martin</div>
  </body>
</html>