<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
    <title>form</title>

  </head>
  <body>
    <div class="boxout" id="wrapper">
        <div class="boxcol">

                <h1>Homework submission </h1>

                <form autocomplete="off" action="/data" method = "POST">
                <div>Name*</div>
                <div>
                    <input id = "input" type = "text" name = "name" placeholder = "..." required/>
                </div>
                <div>Lesson number*</div>
                <div>
                    <input id = "input" type = "number" name="lesson_number" placeholder = "..." required/>
                </div>
                <div>Colab URL*</div>
                <div>
                    <input id = "input" type = "text" name="colab_url" placeholder = "..." required/>
                </div>
                <div>Comment</div>
                <div>
                    <textarea id = "textarea" name="comments"></textarea>
                </div>
                <div>
                    <input id = "button" type = "submit" value = "Submit" />
                </div>

                </form>
           </div>
           <div class="boxcol"><img src="{{ url_for('static',filename='who.png') }}" /></div>
        </div>
    </div>
      
    
    
    
    </form>

    </body>

</html>