<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
        <link rel="icon" type="image/x-icon" href= "{{ url_for('static',filename='who.png') }}">
        <title>Homework submission - Pyladies</title>
    </head>
    <body>
        <div class="boxout" id="wrapper">
            <div class="boxcol">
                <div>
                    <h1>Homework submission </h1>
                    <form autocomplete="off" action = "/done" method = "POST">
                    <div>Name*</div>
                    <div>
                        <input id = "input" type = "text" name = "name" maxlength = 30 placeholder = "..." required/>
                    </div>
                    <div>Lesson number*</div>
                    <div>
                        <input id = "input" type = "number" min ="1" name="lesson_number" placeholder = "..." required/>
                    </div>
                    <div>Colab or GitHub URL*</div>
                    <div>
                        <input id = "input" type = "url" name="colab_url" placeholder = "..." required/>
                    </div>
                    <div>Comment</div>
                    <div>
                        <textarea id = "textarea" name="comments" maxlength = 200></textarea>
                    </div>
                    <div>
                    <div class="small">
                        Please check that your Colab notebook has permissions set correctly: "Anyone with link can edit".
                    </div>
                        <input id = "button" type = "submit" value = "Submit" />
                    </div>
                    <input type = "hidden" name="checked" value=""/>
                    <input type = "hidden" name="mentorname" value=""/>
                      </form>
                </div>
            </div>
            <div class="boxcol"><img src="{{ url_for('static',filename='who.png') }}" /></div>
        </div>
        <div class = "copyright">&copy; 2023 Daniela Limbeck, Yana Martin</div>
    </body>
    </html>
