<!DOCTYPE html>
<html>
<head lang="en" dir="ltr">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
    <title>CSV data</title>
</head>
<body>
    <div class="boxout" id="wrapper">
        <div class="boxcol">
            <h1>submitted homeworks</h1>
            <table class = "table">
                <thead>
                    <tr>
                        <th>name</th>
                        <th>#</th>
                        <th>colab URL</th>
                        <th>comments</th>
                        <th>timestamp</th>
                    </tr>
                    {% for row in homework %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                    </tr>
                    {% endfor %}
                </thead>
            </table>
        </div>
    </div>
</body>
</html>
