{% extends "base.html" %}

{% block content %}
<h1>Pyladies homework submission</h1>
</head>
<body>
    <h1>Submit Homework</h1>
    <form method="post" action="/">
        <label>Name:</label><br>
        <input type="text" name="name"><br><br>
        <label>Lesson Number:</label><br>
        <input type="text" name="lesson_number"><br><br>
        <label>Colab URL:</label><br>
        <input type="text" name="colab_url"><br><br>
        <label>Comments:</label><br>
        <textarea name="comments"></textarea><br><br>
        <input type="submit" value="Submit">
</form>
{% endblock %}